/*==========
GLOBAL/OVERRIDE
===========*/
* {
	-webkit-font-smoothing: antialiased;
	
}

body {
	font-family: "Lato", helvetica, arial, sans-serif;
	line-height: normal;
	background: #F8F8F8;
}

@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}
}

h1, h2, h3 {
	font-weight: 300;
}

article {
	padding: 50px 10%;
	border-bottom: 1px solid #efefef;
}

.container,
.container-fluid {
	width: 960px;
	margin: 0 auto;
}

.row {
	margin: 0;
}

@media (max-width: 767px) {
	.container,
	.container-fluid {
		width: auto;
	}
	.row {
		padding: 0;
	}
}

/*=====================
NAVBAR
======================*/
.navbar-unsully,
.navbar-progress {
	margin-bottom: 0 !important;
}

.navbar-unsully > .navbar-inner,
.navbar-progress > .navbar-inner{
	background-image: none;
	filter: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
}

.navbar-unsully  > .navbar-inner { 
	background: white; /*background: #444E4C;*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: 1px solid #efefef;
}

.navbar-unsully .nav > li > a,
.navbar-unsully .navbar-text {
	text-shadow: none;
	padding: 20px;
	line-height: normal;
	font-size: 16px;
	color: #444;
}

.navbar-unsully .nav > li > a:focus, 
.navbar-unsully .nav > li > a:hover {
	color: #222;
}

.navbar-unsully .nav > .active > a, 
.navbar-unsully .nav > .active > a:hover, 
.navbar-unsully .nav > .active > a:focus {
	background: #efefef;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-unsully .brand {
	padding: 17px;
	margin-left: 0;
	text-shadow: none;
	font-weight: bold;
}

.navbar-unsully .call-to-action {
	width: 200px;
	margin: 0 auto 0;
	position: absolute;
	left: 600px;
}

.navbar-unsully .btn {
	margin-top: 5px;
}

@media (max-width: 767px) {
}

/* ==
cabinet
 == */

.cabinet {
	border-right: 1px solid #efefef;
}

.cabinet:hover {
	border-right: 1px solid #ECE9E9;
}

.cabinet:hover ul > li {
	border-bottom: 1px solid #ECE9E9;
}

.cabinet ul {
	margin: 0;
}

.cabinet ul > li {
	display: block;
	list-style: none;
	border-bottom: 1px solid #efefef;
}
.cabinet ul > li:last-child {
	border-bottom: 0;
}

.cabinet ul > li.header {
	background: white;
	display: block;
	padding: 5px 20px;
}

.cabinet ul > li > a {
	background: white;
	color: #444;
	display: block;
	padding: 20px;
	border-right: 3px solid white; /* to offset size tween on transition */
	-webkit-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
	-moz-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
	-ms-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
	-o-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
	transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
}

.cabinet ul > li > a:hover,
.cabinet ul > li > a:focus {
	border-right: 3px solid #F48B20;
	text-decoration: none;
}

.cabinet .active > a,
.cabinet .active > a:hover,
.cabinet .active > a:focus {
	border-right: 3px solid #74CEB7;
}

/* ==
progress bar 
 == */
.navbar-progress > .navbar-inner { background: #222; }

.navbar-progress .container {
	width: 960px;
}

.navbar-progress .nav > li {
	padding: 15px;
	color: #444;
	line-height: normal;
	background: #333;
}
	.navbar-progress .nav > li.active {
		background: none;
		color: white;
	}

@media (max-width: 767px) {
	.navbar-progress .container {
		width: auto;
	}	
}

/*==========
LAYOUTS
===========*/

#main > .header {
	padding: 25px 0;
	background: #114F68;
	color: white;
}

#page-content {
	background: white;
	min-height: 300px;
}

#page-content .call-to-action {
	padding: 50px 0;
}

#forms {
	background: #2C3E50;

}
	#forms h1 {
		color: white;
	}
	#forms h2 {
		text-align: center;
	}
	#forms section {
		width: 400px;
		margin: 0 auto;
		background: white;
		padding: 20px;
	
	}
	#forms footer {
		width: 440px;
		margin: 0 auto;
	}
	#forms footer .btn {
		-webkit-border-top-right-radius: 0;
		-webkit-border-top-left-radius: 0;
		-moz-border-top-right-radius: 0;
		-moz-border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

@media (max-width: 767px) {
	#forms section,
	#form footer {
		width: auto;
	}
}
/*==========
TABLES
===========*/

.table-unsully tr > td {
	padding: 15px;
}

/*
.table-unsully tr:hover {
	border-left: 3px solid #F48B20; 
}
*/

.table-unsully tr.not-cleaned{
	border-left: 3px solid #F44C36;
}

@media (max-width: 767px) {
}

/*==========
FORMS
===========*/
.btn {
	font-size: 16px;
	padding: 15px 25px;
	background-image: none;
	border: 0;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	filter: none;
	margin-top: 0;
}

@media (max-width: 767px) {

}

.btn-primary {
	background-color: #2187A7;
}

.btn-warning {
	background-color: #F48B20;
}

.btn-danger {
	background-color: #F44C36;
}

.btn-unsully {
	color: white;
	background-color: #74CEB7;
}

.btn-primary:hover{
	background-color: #006DA7;
}

.btn-warning:hover{
	background-color: #E27E18;
}

.btn-danger:hover{
	background-color: #DD3F2A;
}

.btn-unsully:hover{
	color: white;
	background-color: #6EC4AE;
}

.btn-group { width: 100%; }
.btn-group > .btn {
	width: 50%;
}

.controls-unsully input[type="text"],
.controls-unsully input[type="password"],
.controls-unsully input[type="email"]
.controls-unsully input[type="text"], 
.controls-unsully input[type="password"], 
.controls-unsully input[type="datetime"], 
.controls-unsully input[type="datetime-local"], 
.controls-unsully input[type="date"], 
.controls-unsully input[type="month"], 
.controls-unsully input[type="time"], 
.controls-unsully input[type="week"], 
.controls-unsully input[type="number"], 
.controls-unsully input[type="email"], 
.controls-unsully input[type="url"], 
.controls-unsully input[type="search"], 
.controls-unsully input[type="tel"], 
.controls-unsully input[type="color"],
.controls-unsully textarea, 
.controls-unsully .uneditable-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
     	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	height: 50px;
}

@media (max-width: 767px) {
	.controls-unsully input[type="text"],
	.controls-unsully input[type="password"],
	.controls-unsully input[type="email"]
	.controls-unsully input[type="text"], 
	.controls-unsully input[type="password"], 
	.controls-unsully input[type="datetime"], 
	.controls-unsully input[type="datetime-local"], 
	.controls-unsully input[type="date"], 
	.controls-unsully input[type="month"], 
	.controls-unsully input[type="time"], 
	.controls-unsully input[type="week"], 
	.controls-unsully input[type="number"], 
	.controls-unsully input[type="email"], 
	.controls-unsully input[type="url"], 
	.controls-unsully input[type="search"], 
	.controls-unsully input[type="tel"], 
	.controls-unsully input[type="color"],
	.controls-unsully textarea, 
	.controls-unsully .uneditable-input {
		width: 100%;
	}
}

.controls-unsully textarea:focus,
.controls-unsully input[type="text"]:focus,
.controls-unsully input[type="password"]:focus,
.controls-unsully input[type="datetime"]:focus,
.controls-unsully input[type="datetime-local"]:focus,
.controls-unsully input[type="date"]:focus,
.controls-unsully input[type="month"]:focus,
.controls-unsully input[type="time"]:focus,
.controls-unsully input[type="week"]:focus,
.controls-unsully input[type="number"]:focus,
.controls-unsully input[type="email"]:focus,
.controls-unsully input[type="url"]:focus,
.controls-unsully input[type="search"]:focus,
.controls-unsully input[type="tel"]:focus,
.controls-unsully input[type="color"]:focus,
.controls-unsully .uneditable-input:focus {
	border-color: #6EC4AE;
}

.controls-unsully input,
.controls-unsully textarea,
.controls-unsully .uneditable-input {
	
	font-family: "Lato", helvetica, arial, sans-serif;
}

.controls-unsully .input-prepend,
.controls-unsully .input-append {
	width: 100%;
}

.controls-unsully .input-prepend .add-on:first-child, 
.controls-unsully .input-prepend .btn:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.controls-unsully .input-append .add-on, 
.controls-unsully .input-prepend .add-on {
	height: 20px;
	padding: 14px;
	background-color: white;
}

/*==========
ALERTS
===========*/
.alert {
	border: 0;
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 15px;
	text-shadow: none;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: normal;
}

.alert-success {
	background: #5BB75B;
}

.alert-warning {
	background: #F89406;
}

.alert-error {
	background: #DA4F49;
}

.alert-info {
	background: #006DCC;
}

.alert-unsully {
	background: #444E4C;
}

/*==========
ACCORDION
===========*/
.accordion-unsully .accordion-group {
	font-size: 16px;
	border: none;
}

.accordion-unsully .accordion-group > .accordion-heading {
	line-height: normal;
}

.accordion-unsully .accordion-group > .accordion-heading > a {
	background: #74CEB7;
	padding: 20px;
	color: white;
}

.accordion-unsully .accordion-group > .accordion-heading > a:hover {
	background: #6EC4AE;
	text-decoration: none;
}

/*==========
PROGRESS
===========*/

.progress-unsully {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.progress-unsully > .bar {
	background: #2187A7;
	background-image: none;
	border-bottom: 0;
}

/*==========
SIGNUP
===========*/

.signup {
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
}


