/*==========
GLOBAL/OVERRIDE
===========*/
* {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-family: "Lato", helvetica, arial, sans-serif;
}

@media (max-width: 767px) {
	body {
		padding: 0 !important;
	}
}

h1, h2, h3 {
	font-weight: 300;
}

article {
	padding: 50px 10%;
	border-bottom: 1px solid #efefef;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.row {
	margin: 0;
}

@media (max-width: 767px) {
	.container {
		width: auto;
	}
	.row {
		padding: 0;
	}
}
/*==========
LAYOUTS
===========*/
#forms {
	background: #2C3E50;

}
	#forms h1 {
		color: white;
	}
	#forms h2 {
		text-align: center;
	}
	#forms section {
		width: 400px;
		margin: 0 auto;
		background: white;
		padding: 20px;
	
	}
	#forms footer {
		width: 440px;
		margin: 0 auto;
	}
	#forms footer .btn {
		-webkit-border-top-right-radius: 0;
		-webkit-border-top-left-radius: 0;
		-moz-border-top-right-radius: 0;
		-moz-border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
/*==========
FORMS
===========*/
@media (max-width: 767px) {
	#forms section,
	#form footer {
		width: auto;
	}
}
.btn {
	font-size: 16px;
	padding: 15px 25px;
	background-image: none;
	border: 0;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	filter: none;
}

@media (max-width: 767px) {
}

.btn-primary {
	background-color: #2187A7;
}
.btn-warning {
	background-color: #F48B20;
}
.btn-danger {
	background-color: #F44C36;
}
.btn-unsully {
	color: white;
	background-color: #74CEB7;
}
.btn-primary:hover{
	background-color: #006DA7;
}
.btn-warning:hover{
	background-color: #E27E18;
}
.btn-danger:hover{
	background-color: #DD3F2A;
}
.btn-unsully:hover{
	color: white;
	background-color: #6EC4AE;
}
.btn-group { width: 100%; }
.btn-group > .btn {
	width: 50%;
}
/*
.controls-unsully input, 
.controls-unsully textarea,
.controls-unsully .uneditable-input {
	width: 100%;
}
*/
.controls-unsully input[type="text"],
.controls-unsully input[type="password"],
.controls-unsully input[type="email"]
.controls-unsully input[type="text"], 
.controls-unsully input[type="password"], 
.controls-unsully input[type="datetime"], 
.controls-unsully input[type="datetime-local"], 
.controls-unsully input[type="date"], 
.controls-unsully input[type="month"], 
.controls-unsully input[type="time"], 
.controls-unsully input[type="week"], 
.controls-unsully input[type="number"], 
.controls-unsully input[type="email"], 
.controls-unsully input[type="url"], 
.controls-unsully input[type="search"], 
.controls-unsully input[type="tel"], 
.controls-unsully input[type="color"],
.controls-unsully textarea, 
.controls-unsully .uneditable-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
     	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	height: 50px;
}

@media (max-width: 767px) {
	.controls-unsully input[type="text"],
	.controls-unsully input[type="password"],
	.controls-unsully input[type="email"]
	.controls-unsully input[type="text"], 
	.controls-unsully input[type="password"], 
	.controls-unsully input[type="datetime"], 
	.controls-unsully input[type="datetime-local"], 
	.controls-unsully input[type="date"], 
	.controls-unsully input[type="month"], 
	.controls-unsully input[type="time"], 
	.controls-unsully input[type="week"], 
	.controls-unsully input[type="number"], 
	.controls-unsully input[type="email"], 
	.controls-unsully input[type="url"], 
	.controls-unsully input[type="search"], 
	.controls-unsully input[type="tel"], 
	.controls-unsully input[type="color"],
	.controls-unsully textarea, 
	.controls-unsully .uneditable-input {
		width: 100%;
	}
}

.controls-unsully textarea:focus,
.controls-unsully input[type="text"]:focus,
.controls-unsully input[type="password"]:focus,
.controls-unsully input[type="datetime"]:focus,
.controls-unsully input[type="datetime-local"]:focus,
.controls-unsully input[type="date"]:focus,
.controls-unsully input[type="month"]:focus,
.controls-unsully input[type="time"]:focus,
.controls-unsully input[type="week"]:focus,
.controls-unsully input[type="number"]:focus,
.controls-unsully input[type="email"]:focus,
.controls-unsully input[type="url"]:focus,
.controls-unsully input[type="search"]:focus,
.controls-unsully input[type="tel"]:focus,
.controls-unsully input[type="color"]:focus,
.controls-unsully .uneditable-input:focus {
	border-color: #6EC4AE;
}
.controls-unsully input,
.controls-unsully textarea,
.controls-unsully .uneditable-input {
	
	font-family: "Lato", helvetica, arial, sans-serif;
}

.controls-unsully .input-prepend,
.controls-unsully .input-append {
	width: 100%;
}
.controls-unsully .input-prepend .add-on:first-child, 
.controls-unsully .input-prepend .btn:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.controls-unsully .input-append .add-on, 
.controls-unsully .input-prepend .add-on {
	height: 20px;
	padding: 14px;
	background-color: white;
}

/*==========
ALERTS
===========*/
.alert {
	border: 0;
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 15px;
	text-shadow: none;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: normal;
}

.alert-success {
	background: #5BB75B;
}

.alert-warning {
	background: #F89406;
}

.alert-error {
	background: #DA4F49;
}

.alert-info {
	background: #006DCC;
}

.alert-unsully {
	background: #444E4C;
}

/*==========
ACCORDION
===========*/
.accordion-unsully .accordion-group {
	font-size: 16px;
	border: none;
}
.accordion-unsully .accordion-group > .accordion-heading {
	line-height: normal;
}

.accordion-unsully .accordion-group > .accordion-heading > a {
	background: #74CEB7;
	padding: 20px;
	color: white;
}

.accordion-unsully .accordion-group > .accordion-heading > a:hover {
	background: #6EC4AE;
	text-decoration: none;
}

